




}
#header{
  float:center;
}


img{
  width:100px;
  height: 100px;
}
p{
border: 2px solid grey;
background: #f0f8ff;
}
h2{
border: 2px solid grey;

}

h3{
border: 2px solid grey;
background: #c6e2ff;
  
}
a {
float: right;
padding: 5px;
}
ul{
float: right;

}
